In [ ]:
CREATE DATABASE MTVCompDB

USE MTVCompDB

In [ ]:
CREATE TABLE PHONGBAN
(
    MaPB char(10) PRIMARY KEY,
    TenPB nchar(30) NOT NULL,
    ĐiaiemPB nvarchar(45) NOT NULL
)

In [ ]:
CREATE TABLE NHANVIẸN
(
    MaNV char(10) PRIMARY KEY,
    TenNV nchar(30) NOT NULL,
    TrinhdoCM nvarchar(50) NOT NULL,
    Chucvu nvarchar(35) NOT NULL,
    MaPB char(10),
    CONSTRAINT fk_MaPB FOREIGN KEY(MaPB) REFERENCES PHONGBAN(MaPB),
)

In [ ]:
CREATE TABLE KHOAHOC
(
    MaKH char(10) PRIMARY KEY,
    TenKH nchar(30) NOT NULL,
    Diadiemtochuc nvarchar(50) NOT NULL,
    NgayBD datetime NOT NULL
)

In [ ]:
CREATE TABLE KETQUA
(
    MaNV char(10) NOT NULL,
    MaKH char(10) NOT NULL,
    CONSTRAINT fk_MaNV FOREIGN KEY(MaNV) REFERENCES NHANVIẸN(MaNV) ON UPDATE CASCADE ON DELETE CASCADE,
    CONSTRAINT fk_MaKH FOREIGN KEY(MaKH) REFERENCES KHOAHOC(MaKH) ON UPDATE CASCADE ON DELETE CASCADE,
    PRIMARY KEY(MaNV, MaKH),
    Ketqua int NOT NULL,
    Songaynghi int NOT NULL
)

In [ ]:
USE master;
ALTER DATABASE MTVCompDB SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
DROP DATABASE MTVCompDB ;

In [ ]:
SELECT GETDATE()